<div class="container">
  <h5>Payroll Master</h5>
  <div class="row">
    <div class=" col-md-6 col-lg-4   equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-wallet"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">All Employees</p>-->
          <h5>All Employees</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4  equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-credit-card"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">Payslip</p>-->
          <h5>Payslip</h5>
        </div>
      </div>
    </div>
    <div class=" col-md-6 col-lg-4  equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">Configuration</p>-->
          <h5>Configuration</h5>
          <!--<div class="content-bar">
            <h5 style="color:forestgreen;">+23%</h5><p style="font-size:smaller">since last month</p>
          </div>-->
        </div>
      </div>
    </div>

    <div class=" col-md-6 col-lg-4  equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-balance-scale"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">Bonus Setting</p>-->
          <h5>Bonus Setting</h5>
        </div>
      </div>
    </div>
    <div class=" col-md-6 col-lg-4  equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-tasks"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">Payroll Reporting</p>-->
          <h5>Payroll Reporting</h5>
        </div>
      </div>
    </div>
    <div class=" col-md-6 col-lg-4  equal-height">
      <div class="column">
        <div class="icon-card">
          <i class="fas fa-briefcase"></i>
        </div>
        <div class="content">
          <!--<p style="font-size:smaller">Full & Final</p>-->
          <h5>Full & Final</h5>
        </div>
      </div>
    </div>
  </div>
</div>

