<div class="input-container">
  <label *ngIf="label" for="input">{{ label }}</label>

  <div class="input-wrapper">
    <input id="input"
           [type]="type"
           [placeholder]="placeholder"
           [(ngModel)]="value"
           [disabled]="disabled"
           [required]="required"
           (input)="onInput($event)" />

    <!-- Display search icon when search is true -->
    <span *ngIf="search" class="search-icon" (click)="onInput($event)">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>
