<!--Sidebar start-->
<section class="dashboard-section">
  <div class="container">
    <!--Company Logo And Title start-->
    <div class="logo-title mb-4">
      <img src="assets/images/logo-main.png" alt="cmplogo" />
      <h6><span class="mb-0">Skywaves</span></h6>
    </div>
    <!--Company Logo title end-->
    <!--Sidebar start-->
    <div class="sidebar-nav">
      <a href=""><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
      <a href=""><i class="fas fa-cogs"></i><span>User Manager</span></a>
      <a href=""><i class="fas fa-cogs"></i><span>Employee Schedule</span></a>
      <a href=""><i class="fas fa-columns"></i><span>Company Schedule</span></a>
      <a href=""><i class="fas fa-table"></i><span>Project Management</span></a>
      <a href=""><i class="fas fa-columns"></i><span>Payroll Master</span></a>
      <a href=""><i class="fas fa-columns"></i><span>HR</span></a>
      <a href=""><i class="fas fa-columns"></i><span>Help Desk</span></a>
      <a href=""><i class="fas fa-user"></i><span>Profile</span></a>
      <a href=""><i class="fas fa-sign-in-alt"></i><span>Sign In</span></a>
      <a href=""><i class="fas fa-user-plus"></i><span>Sign Up</span></a>

    </div>
    <!--Sidebar end-->
  </div>

</section>

